html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----------------INDEX-----------------*/


/*------ HEADER ---------*/

.contenedorHeader {
    background-color: black;
    height: 12.2vh;
    width: 100%;
}

.contenedorHeader .navbar-brand {
    color: white;
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.contenedorHeader .nav-item {
    color: white;
    margin: 50;
    font-family: "Mulish", sans-serif;
    font-size: 1.5rem;
}

.contenedorHeader .nav-link {
    color: white;
    text-decoration: none;
    padding: 10;
    margin: 0px 10px;
    font-weight: 700;
}

.contenedorHeader .nav-link:hover {
    color: #a6a6a6;
    border-bottom: 1px solid white;
}

.contenedorHeader #botonBurguer {
    font-size: 1.5rem;
}

.contenedorHeader #bordeBurguer {
    border: 1px solid white;
}


/*----------------FOOTER----------------*/

.contenedorFooter {
    background-color: black;
    color: white;
    width: 100%;
}

.contenedorFooter .contenidoFooter {
    position: relative;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contenedorFooter .contenidoFooter .footer-redes-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 2;
    padding: 20px 25px 5px 25px;
}

.contenedorFooter .contenidoFooter .footer-redes-iconos i {
    font-size: 2.5rem;
    color: white;
    padding: 0px 15px 15px 0px;
}

.contenedorFooter .contenidoFooter .footer-redes-iconos i:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.contenedorFooter .contenidoFooter .footer-nav {
    list-style: none;
    display: flex;
    align-self: center;
    padding: 15px 20px 5px 20px;
    font-family: "Mulish", sans-serif;
}

.contenedorFooter .contenidoFooter .footer-nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contenedorFooter .contenidoFooter .footer-nav ul li {
    margin: 5px;
    padding: 5px;
    font-size: 1.3rem;
}

.contenedorFooter .contenidoFooter .footer-nav ul li a {
    text-decoration: none;
    color: white;
}

.contenedorFooter .copyright {
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 0px;
}

.socialMedia {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 3vw;
    position: fixed;
    top: 200px;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.socialMedia:hover {
    width: 4vw;
    transition: all .2s linear;
}

.socialMedia i {
    color: white;
    font-size: 3rem;
    padding: 10px;
}

.socialMedia i:hover {
    text-shadow: 1px 1px 2px white, 0 0 30px whitesmoke, 0 0 15px grey;
}


/*-- CARTEL DE NEON---*/

 :root {
    font-size: 10px;
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}

.contenedorMain {
    color: white;
}

.contenedorMain .main-section-intro {
    background-image: url("../recursos/fondo-index.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 88vh;
}

.contenedorMain .main-section-intro .frase-a {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    padding: 10px 15px 10px 15px;
    z-index: 3;
    font-weight: bold;
    position: absolute;
    right: 150px;
    top: 220px;
}

.contenedorMain .main-section-intro .frase-ab {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    padding: 10px 15px 10px 15px;
    z-index: 3;
    font-weight: bold;
    position: absolute;
    right: 150px;
    top: 220px;
    display: none;
}

.contenedorMain .main-section-intro .frase-b {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    padding: 10px 15px 10px 15px;
    z-index: 3;
    font-weight: bold;
    position: absolute;
    right: 100px;
    top: 315px;
}

.contenedorMain .main-section-week {
    background-image: url(https://img.freepik.com/foto-gratis/fondo-papel-pintado-pared-ladrillo-negro-viejo_73152-4296.jpg?size=626&ext=jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.contenedorMain .main-section-week .tituloMensual {
    font-size: 5rem;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    margin: 2rem 0 2rem 0;
    padding: 1rem 1rem 1rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
}

.contenedorMain .main-section-week .tituloMensual::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

.contenedorMain .main-section-week .tituloMensual::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

.contenedorMain .main-section-week .tituloMensual:focus {
    outline: none;
}

.contenedorMain .main-section-week .contenedorSeleccion {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
    z-index: 3;
}

.contenedorMain .main-section-week .contenedorSeleccion .producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 0px 20px;
    margin-bottom: 10px;
}

.contenedorMain .main-section-week .contenedorSeleccion .producto:hover {
    transform: scale(1.1);
    transition: 1s;
}

.contenedorMain .main-section-week .contenedorSeleccion .producto .textoProducto {
    color: white;
    font-family: "Mulish", sans-serif;
    font-size: 1.25rem;
    padding-top: 0.5rem;
}

.contenedorMain .main-section-week .contenedorSeleccion .producto .textoProducto ul {
    list-style: none;
    text-align: center;
}

.contenedorMain .main-section-delivery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.contenedorMain .main-section-delivery .section-delivery-contenido {
    background-color: black;
    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    padding: 10px;
    padding: 10px;
    justify-content: space-around;
}

.contenedorMain .main-section-delivery .section-delivery-contenido .paso-1,
.contenedorMain .main-section-delivery .section-delivery-contenido .paso-2,
.contenedorMain .main-section-delivery .section-delivery-contenido .paso-3 {
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
}

.contenedorMain .main-section-delivery .section-delivery-contenido .icono {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 5px;
}

.contenedorMain .main-section-delivery .section-delivery-contenido h3 {
    text-align: center;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
}

.contenedorMain .main-section-delivery .section-delivery-contenido p {
    text-align: center;
    font-size: 1.2rem;
    font-family: "Mulish", sans-serif;
}

.contenedorMain .main-section-newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    background-color: #b2936d;
}

.contenedorMain .main-section-newsletter .formulario-suscripcion {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorMain .main-section-newsletter .formulario-suscripcion .label-suscripcion {
    font-family: "Mulish", sans-serif;
    font-size: 1.9rem;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

.contenedorMain .main-section-newsletter .formulario-suscripcion .contenedor-casilla-email {
    display: flex;
    justify-content: center;
}

.contenedorMain .main-section-newsletter .formulario-suscripcion .contenedor-casilla-email .input-suscripcion {
    background-color: white;
    border: 0;
    font-size: 1.6rem;
    padding: 10px 10px 0px 10px;
    border-bottom: 2px solid white;
    width: 35rem;
    background-color: #b2936d;
    color: white;
}

.contenedorMain .main-section-newsletter .formulario-suscripcion .contenedor-casilla-email .input-suscripcion:focus {
    outline: none;
    background-color: #b2936d;
}

.contenedorMain .main-section-newsletter .formulario-suscripcion .contenedor-casilla-email .input-suscripcion::placeholder {
    color: white;
    font-family: "Mulish", sans-serif;
}

.contenedorMain .main-section-newsletter .formulario-suscripcion .contenedor-casilla-email .button-suscripcion {
    outline: none;
    border: 0;
    background-color: transparent;
    position: relative;
    right: 35px;
    bottom: -3px;
}

.contenedorMain .main-section-newsletter .formulario-suscripcion .contenedor-casilla-email .button-suscripcion .sobre {
    font-size: 2.3rem;
    color: white;
    border: 0;
}


/*-------- EFECTO CARTEL DE NEON --------*/

@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
        box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
    }
    20%,
    24%,
    55% {
        text-shadow: none;
        box-shadow: none;
    }
}


/*---------CATALOGO--------------*/

.contenedorCatalogo {
    display: flex;
    justify-content: center;
    font-family: "Mulish", sans-serif;
}

.contenedorCatalogo .main-catalogo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.contenedorCatalogo .main-catalogo .main-catalogo-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
}

.contenedorCatalogo .main-catalogo .main-catalogo-section .main-catalogo-section-producto {
    color: black;
    text-align: center;
    padding: 25px 10px 10px 10px;
    margin: 15px;
    align-items: center;
}

.contenedorCatalogo .main-catalogo .main-catalogo-section .main-catalogo-section-producto .catalogo-producto-texto ul {
    color: black;
    list-style: none;
    text-align: center;
    margin-top: 5px;
}

.contenedorCatalogo .main-catalogo .main-catalogo-section .main-catalogo-section-producto .catalogo-producto-texto ul li {
    font-size: 1.4rem;
}

.contenedorCatalogo .main-catalogo .main-catalogo-section .main-catalogo-section-producto .catalogo-producto-texto ul:hover {
    transform: scale(1.1);
}

.contenedorCatalogo .main-catalogo .banner {
    width: 80%;
    text-align: right;
}

.catalogoTitulo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;
}

.catalogoTitulo h1 {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    font-weight: bolder;
}

.catalogoTitulo hr {
    height: 2px;
    background-color: black;
    width: 10%;
    margin: 10px;
}

.catalogoTituloBodega {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;
    display: none;
}

.catalogoTituloBodega h2 {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    font-weight: bolder;
}

.catalogoTituloBodega hr {
    height: 2px;
    background-color: black;
    width: 10%;
    margin: 10px;
}

#lista-carrito tr {
    margin-top: 3px;
}

#lista-carrito tr th {
    margin-right: 3px;
    padding: 3px 20px 3px 20px;
    font-size: 14px;
}

#lista-carrito tr td {
    padding: 3px 10px 3px 10px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

#vaciar-carrito {
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 5px;
    font-weight: bolder;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
}


/*-------CONTACTO--------*/

.main-contacto {
    background-image: url(../recursos/mujer-vino.jpg);
    background-size: cover;
}

.main-contacto .section-contacto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.main-contacto .section-contacto .section-contacto-formulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    background-color: black;
    padding: 30px 20px 30px 20px;
    align-items: center;
    width: 50vh;
}

.main-contacto .section-contacto .section-contacto-formulario .formulario-titulo {
    font-size: 3rem;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

.main-contacto .section-contacto .section-contacto-formulario form {
    display: flex;
    flex-flow: column nowrap;
    padding: 15px;
    font-size: 1.5rem;
}

.main-contacto .section-contacto .section-contacto-formulario form input {
    border: 0;
    padding: 10px 10px 0px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    background-color: black;
    color: white;
}

.main-contacto .section-contacto .section-contacto-formulario form input:focus {
    outline: none;
    background-color: black;
    color: white;
}

.main-contacto .section-contacto .section-contacto-formulario form input::placeholder {
    color: white;
    font-family: "Mulish", sans-serif;
}

.main-contacto .section-contacto .section-contacto-formulario form textarea {
    margin: 15px 0px 10px 0px;
    font-family: "Mulish", sans-serif;
    border: none;
    border-bottom: 1px solid white;
}

.main-contacto .section-contacto .section-contacto-formulario form button {
    background-color: black;
    border: 1px solid white;
    font-family: "Mulish", sans-serif;
    color: white;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}


/*----- EXPERIENCIAS -----*/

.main-experiencias {
    display: flex;
    justify-content: center;
}

.main-experiencias .main-experiencias-section {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.main-experiencias .main-experiencias-section .experiencia {
    width: 50vh;
    padding: 20px;
}

.main-experiencias .main-experiencias-section .experiencia h4 {
    padding: 10px 10px 5px 0px;
    font-size: 2rem;
    font-family: "Mulish", sans-serif;
    font-weight: bolder;
}

.main-experiencias .main-experiencias-section .experiencia p {
    font-size: 1.3rem;
    text-align: justify;
    padding: 0px 3px 0px 0px;
}


/*---------- CELULARES 360x640  560x890---------*/

@media (min-width: 360px) and (max-width: 560px) {
    /*----------HEADER-----------------*/
    .contenedorHeader {
        height: auto;
    }
    .contenedorHeader .navbar-brand {
        color: white;
        font-size: 3.5rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
    }
    /*--------FOOTER-------------------*/
    .contenedorFooter .contenidoFooter {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .contenedorFooter .contenidoFooter .footer-redes-iconos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .contenedorFooter .contenidoFooter .footer-redes-iconos i {
        font-size: 2.5rem;
        padding: 5px;
    }
    .contenedorFooter .copyright {
        display: none;
    }
    /*-------SOCIAL MEDIA BAR-------*/
    .socialMedia {
        background-color: black;
        display: flex;
        width: 8vw;
        flex-direction: column;
        position: fixed;
        top: 350px;
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .socialMedia:hover {
        width: 8vw;
        transition: none;
    }
    .socialMedia i {
        color: white;
        font-size: 2.5rem;
        padding: 5px;
    }
    .socialMedia i:hover {
        text-shadow: 1px 1px 2px white, 0 0 30px whitesmoke, 0 0 15px grey;
    }
    /*----------INDEX-----------------*/
    .contenedorMain .main-section-intro .frase-a {
        background-color: black;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 2.5rem;
        padding: 5px 10px 5px 10px;
        z-index: 3;
        font-weight: bold;
        position: absolute;
        right: 90px;
        top: 220px;
        display: none;
    }
    .contenedorMain .main-section-intro .frase-ab {
        background-color: black;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 2.5rem;
        padding: 5px 10px 5px 10px;
        z-index: 3;
        font-weight: bold;
        position: absolute;
        right: 90px;
        top: 220px;
        display: inline;
    }
    .contenedorMain .main-section-intro .frase-b {
        background-color: black;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 2.5rem;
        padding: 5px 10px 5px 10px;
        z-index: 3;
        font-weight: bold;
        position: absolute;
        right: 20px;
        top: 275px;
    }
    .contenedorMain .main-section-week .tituloMensual {
        font-size: 3.5rem;
    }
    .contenedorMain .main-section-week .contenedorSeleccion .producto .textoProducto {
        font-size: 1.2rem;
    }
    .contenedorMain .main-section-newsletter .formulario-suscripcion .label-suscripcion {
        font-size: 1.5rem;
        text-align: center;
    }
    .contenedorMain .main-section-newsletter .formulario-suscripcion .contenedor-casilla-email .input-suscripcion {
        font-size: 1.2rem;
        padding: 10px 10px 0px 10px;
        width: 25rem;
    }
    .contenedorMain .main-section-newsletter .formulario-suscripcion .contenedor-casilla-email .button-suscripcion {
        outline: none;
        border: 0;
        background-color: transparent;
        position: relative;
        right: 25px;
        bottom: -3px;
    }
    .contenedorMain .main-section-newsletter .formulario-suscripcion .contenedor-casilla-email .button-suscripcion .sobre {
        font-size: 2rem;
        color: white;
        border: 0;
    }
    /*------CATALOGO---------*/
    .contenedorCatalogo .main-catalogo .main-catalogo-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 80%;
    }
    .contenedorCatalogo .main-catalogo .main-catalogo-section .main-catalogo-section-producto .catalogo-producto-texto ul {
        color: black;
        list-style: none;
        text-align: center;
        margin-top: 5px;
    }
    .contenedorCatalogo .main-catalogo .main-catalogo-section .main-catalogo-section-producto .catalogo-producto-texto ul li {
        font-size: 1.4rem;
    }
    .contenedorCatalogo .main-catalogo .main-catalogo-section .main-catalogo-section-producto .catalogo-producto-texto ul:hover {
        transform: scale(1.1);
    }
    .contenedorCatalogo .main-catalogo .banner {
        width: 80%;
        text-align: right;
        display: none;
    }
    .catalogoTitulo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: 15px;
    }
    .catalogoTitulo h1 {
        padding: 10px;
        font-family: "Montserrat", sans-serif;
        font-size: 3rem;
        font-weight: bolder;
        text-align: center;
    }
    .catalogoTitulo hr {
        height: 2px;
        background-color: black;
        width: 10%;
        margin: 10px;
    }
    .catalogoTituloBodega {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
    }
    .catalogoTituloBodega h2 {
        padding: 10px;
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
    }
    .catalogoTituloBodega hr {
        height: 2px;
        background-color: black;
        width: 2rem;
        margin: 10px;
    }
    /*--------CONTACTO-------*/
    .main-contacto .section-contacto .section-contacto-formulario {
        width: 40vh;
    }
    /*----- EXPERIENCIAS -----*/
    .main-experiencias {
        display: flex;
        justify-content: center;
    }
    .main-experiencias .main-experiencias-section {
        width: 80%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}


/*---------- TABLET 768x1024---------*/

@media (min-width: 561px) and (max-width: 768px) {
    /*----------HEADER-----------------*/
    .contenedorHeader {
        height: auto;
    }
    .contenedorMain .main-section-intro .frase-a {
        position: absolute;
        right: 90px;
        top: 220px;
    }
    .contenedorMain .main-section-intro .frase-b {
        position: absolute;
        right: 20px;
        top: 330px;
    }
    .socialMedia {
        width: 4vw;
        position: fixed;
        top: 230px;
    }
    .socialMedia i {
        color: white;
        font-size: 2.8rem;
        padding: 10px;
    }
    /*-------WEEK SELECTION--------*/
    .contenedorMain .main-section-week .contenedorSeleccion {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 70%;
        padding: 10px 0px 10px 0px;
        margin-top: 10px;
        z-index: 3;
    }
    /*------CATALOGO----------*/
    .contenedorCatalogo .main-catalogo .banner {
        width: 80%;
        text-align: right;
        display: none;
    }
    .catalogoTituloBodega {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
    }
    .catalogoTituloBodega h2 {
        padding: 10px;
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
    }
    .catalogoTituloBodega hr {
        height: 2px;
        background-color: black;
        width: 2rem;
        margin: 10px;
    }
    .contenedorCatalogo .main-catalogo .main-catalogo-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 75%;
    }
    .experiencia {
        width: 50%;
    }
}